{% extends './base.html' %}

{% block content %}

<div class="container" style="margin-top: 50px; margin-bottom: 100px;">

<h1>About Us</h1>
    <p>Welcome to our video summarization website! Our platform is designed to help you quickly
     and easily summarize any video content you come across Youtube. Whether you're a busy
    professional who needs to quickly understand the key takeaways from a long video, 
    or a student trying to study more efficiently, our platform has you covered.</p>

    <p>Our platform is incredibly user-friendly. Simply enter the link to the video you want to summarize,
     and our algorithm will get to work analyzing the content.Within minutes, you'll receive a summary 
    of the video in the form of a text.</p>
    
    <p>We first encountered this issue in college when we would watch very long YouTube videos while
    looking for material relating to academics but were left with irrelevant information.
    We then had the idea to build a website that allows users to view a summary of a video
    before deciding whether or not to watch it.</p>

    <p>Thank you for choosing our website for your video summarization needs.
     We look forward to helping you get the most out of your video content!</p>
</div>

{% endblock %}