{% extends './base.html' %}
{% load static %}
{% block content %}

<div class="parallax">
   <div class="mainheader">
      <p style="font-family: 'Roboto', sans-serif; font-size: 2.4rem">
         Why Summit?
      </p>
      <p style="margin-top: 3%">
         Summit is a website that is used to summarize the text of any transcript to the desired
         size of user's choice. Summit is very helpful for people who currently studying. One can
         say that summit is a type of last minute friend for help you studying. The summarized text provided
         by summit can be translated to any language of the user's choice. The user can provided a youtube video
         of any length Summit will summarize a video of any length.
      </p>
   </div>
</div>

<div class="mainpart">
   <div class="box">
      <div class="leftpart">
         <iframe width="510" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY">
         </iframe>
      </div>
      <div class="rightpart">
         <h2>What is Summit</h2>
         <p>
            Summit is a powerful and user-friendly website that provides text summarization services to users.
            Whether you are a student trying to study for an exam or a professional looking to streamline your
            work,
            Summit can help you save time and effort by summarizing lengthy documents, transcripts, and videos.
            Summit is a highly useful tool for anyone who needs to process large amounts of information quickly
            and effectively.
            With its powerful text summarization and translation features, as well as its ability to summarize
            videos, Summit is a must-have tool for students, professionals,
            and anyone else who needs to stay on top of their work.
         </p>
      </div>
   </div>
</div>
<div class="second">
   <h1>What Are its Features</h1>

   <div class="features">
      <div>
         <div class="feat">
            <h3>Video Summarizer</h3>
            <p>
               Summit summarizes a youtube video into a form text. The video may
               of any length but summit will summarize it.
            </p>
         </div>
         <div class="feat">
            <h3>Text Summarizer</h3>
            <p>
               It is similar to that of video summarizer but here instead of video link
               we provide a text and summarize the text of less size.
            </p>
         </div>
      </div>
      <div>
         <div class="feat">
            <h3>Sentiment Analysis</h3>
            <p>
               Summit makes use of Sentiment Analysis on youtube comments of a
               youtube video to recommend whether the youtube video is good or not.
            </p>
         </div>
         <div class="feat">
            <h3>Language Conversion</h3>
            <p>
               Summit provides wide range of languages. It provides almost
               100+ languages. So, any student from any country can use Summit easily.
            </p>
         </div>
      </div>
   </div>
</div>

{% endblock %}