.mainheader {
    position: absolute;
    color: white;
    margin: 12% auto auto 7%;
    width: 80%;
    height: auto;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.navbar-brand{
    margin-left: 7%;
    color: aliceblue;
}
.navbar-nav{
    color: aliceblue;
    justify-content: space-between;
}
.nav-item:hover{
    color: black;
}
.text-center{
    margin-top: 20px;
}